.cardListWrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  justify-content: center;
  padding: 0 20px;
  width: 100vw;

  @media (max-width: 1280px) {
    justify-content: flex-start;
  }

  .cardList {
    height: 100%;
    align-items: center;
    gap: 20px;
    display: inline-flex;
  }
}
