.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include desktop {
    &.reverse {
      flex-direction: row-reverse;
    }

    flex-direction: row;
    margin-bottom: 120px;
  }
}

.image {
  min-width: 0;
  width: 100%;
  border-radius: 12px;

  @include desktop {
    flex: 1 1 0;
  }

  @include mobile {
    height: auto;
  }

  @include tablet {
    height: 416.25px;
  }
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.72px;
  word-wrap: break-word;

  @include desktop {
    font-size: 32px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 0;
  padding: 8px 0;
  margin-top: 24px;
  width: auto;
  min-height: 270px;

  @include desktop {
    flex: 1 1 0;
    margin-top: 0px;
  }
}

.subTitle {
  color: color('gray600');
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  word-wrap: break-word;
}
