.wrapper {
  width: 100%;

  .cards {
    .card {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .videoCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px;

    @include mobile {
      gap: 16px;
    }
  }
}

.typeWrapper {
  margin-bottom: 40px;

  .periodButton {
    height: 40px;
  }
}
