.wrapper {
  width: 100%;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .card {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .videoCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px;
  }
}

.typeWrapper {
  display: flex;
  margin-bottom: 40px;
  gap: 16px;

  .periodButton {
    height: 40px;
  }
}
