.content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
  align-items: center;
  z-index: 1;

  @include mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;
    width: 100%;
    overflow-x: scroll;
    padding: 0 20px;
  }

  .buttonWrapper {
    display: flex;
    gap: 24px;

    @include mobile {
      gap: 12px;
    }
  }
}

.homeButton {
  font-size: 22px;
  line-height: 30.8px;
  width: 280px;
  height: 56px;

  @include mobile {
    width: fit-content;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
  }
}
