.content {
  margin-top: 40px;
  z-index: 1;

  @include mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;
    width: 100%;
    overflow-x: scroll;
    padding: 0 20px;
  }

  .buttonWrapper {
    @include mobile {
      gap: 12px;
    }
  }
}

.homeButton {
  width: 280px;
  height: 56px;

  &.primary {
    background-color: var(--primary);
  }

  @include mobile {
    width: fit-content;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
  }
}
