.imageList {
  gap: 16px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);

  @include tablet {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }

  .imageWrapper {
    position: relative;
    width: 331px;
    height: 158px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.errorWrapper {
      background-color: #2d3748; // empty_image.png 배경색과 매칭
    }
  }

  .sponsorImage {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .fallbackImage {
    object-fit: contain;
  }
}
