:root {
  /* colors */
  --primary: #01ff13;
  --black: #131518;
  --gray000: #1a202c;
  --gray100: #2d3748;
  --gray200: #4a5568;
  --gray300: #718096;
  --gray400: #a0aec0;
  --gray500: #cbd5e0;
  --gray600: #e2e8f0;
  --gray700: #545454;
  --gray800: #edf2f7;
  --gray900: #f7fafc;
  --white: #ffffff;

  /* typography */
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 16px;
}
