.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;

  .layout {
    width: 100%;
    padding: 0 20px;

    @include desktop {
      width: 1060px;
      padding: 0;
    }
  }
}
