.wrapper {
  height: 100%;
  padding: 32px 20px;
}

.title {
  align-self: stretch;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.highlightTitle {
  align-self: stretch;
  width: 192px;
  padding: 8px 16px;
  background: color('gray100');
  border-radius: 8px;
  flex: 1 1 0;
  text-align: center;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  white-space: nowrap;
}

.subTitle {
  align-self: stretch;
  text-align: center;
  color: color('gray700');
  line-height: 19.6px;
  word-wrap: break-word;
}
