.wrapper {
  width: 100%;
  height: calc(100vh - 64px);
}

.group {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;

  div:first-of-type {
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    color: color('primary');
  }
  div:last-of-type {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: color('white');
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentBox {
  width: 240px;
  height: 53px;
  border-radius: 8px;
  background-color: color('gray100');
  color: color('white');
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  gap: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  transition: background-color 0.3s ease;

  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: color('gray200');
    }
  }
}
