.wrapper {
  width: 100%;
  height: calc(100vh - 164px);
  background-color: color('black');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;

  .background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    object-fit: cover;
    pointer-events: none;
  }

  @include mobile {
    gap: 0;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  z-index: 1;

  .title {
    @include text('h1/black', 'white');
    font-size: 80px;

    @include tablet {
      font-size: 64px;
    }

    @include mobile {
      line-height: 29.9px;
      font-size: 26px;
    }
  }

  .subTitle {
    @include text('h2/semibold', 'white');
    font-size: 32px;

    @include tablet {
      font-size: 24px;
    }

    @include mobile {
      line-height: 16.8px;
      font-size: 12px;
    }
  }
}

.content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
  align-items: center;
  z-index: 1;

  @include mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;
    width: 100%;
    overflow-x: scroll;
    padding: 0 20px;
  }
}
