.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  border-radius: 12px;
  background-color: color('gray000');
  outline: 1px solid color('gray100');
}

.titleWrapper {
  padding: 12px 20px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -0.2%;
  color: color('white');
}

.barItem {
  background-color: color('gray100');
  padding: 16px 20px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:focus {
    outline: 1px solid color('gray500');
    outline-offset: 1px;
  }

  &:hover,
  &:focus {
    background-color: color('gray200');
  }
}

.label {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.45;
  color: color('gray700');
  margin-bottom: 10px;
  letter-spacing: -0.2%;
}

.barWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.bar {
  height: 35px;
  transition: width 1s ease-out;
}

.value {
  font-size: 15px;
  font-weight: 600;
  color: color('primary');
  white-space: nowrap;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 12px 19px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  pointer-events: none;
  min-width: 200px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tooltipLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  color: #535F74;
}

.tooltipValue {
  color: #535F74;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.tooltipExamples {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
