.Metawrapper {
  display: flex;
  height: 70px;
  margin-bottom: 20px;

  .profileBg {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: #2d3748;
    border-radius: 4px;
  }

  .profile {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8.5px 0 8.5px 16px;
  }

  .mainInfo {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .name {
      display: inline;
      font-weight: 800;
      font-size: 16px;
      line-height: 137%;
      color: color("white");
    }

    .links {
      display: flex;
      gap: 12px;
    }
  }

  .subInfo {
    display: flex;
    justify-content: space-between;

    .part {
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.002em;
      text-align: left;
      color: color("gray500");
    }

    .organizer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: color("primary");
    }

    .organizerMark {
      margin-left: 4px;
    }
  }
}

.introduceWrapper {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.002em;
  text-align: left;
  color: color("gray700");
  margin-bottom: 20px;
}

.reviewWrapper {
  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.002em;
    text-align: left;
    color: color("white");
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.002em;
    text-align: left;
    color: color("gray700");
  }
}
