.wrapper {
  width: 100;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid color('gray100');
  background-color: color('gray000');
  box-sizing: border-box;
  line-height: 20px;
  overflow: hidden;

  @include desktop {
    width: 1060px;
  }
}

.title {
  cursor: pointer;
  height: 36px;
  text-align: left;
  padding: 0 0 0 12px;
  box-sizing: border-box;
  user-select: none;

  @include desktop {
    height: 48px;
    font-size: 17px;
    line-height: 24px;
    padding: 0 20px;
  }
}

.arrow {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);

  &.isOpen {
    transform: rotate(0deg);
  }

  .arrowIcon {
    width: 36px;
    height: 36px;
  }

  @include desktop {
    .arrowIcon {
      width: 48px;
      height: 48px;
    }
  }
}

.value {
  margin-top: 12px;
  border-radius: 8px;
  background-color: color('gray100');
  padding: 12px 16px;
  white-space: pre-line;

  @include desktop {
    margin-top: 24px;
    padding: 16px 20px;
  }
}
