.wrapper {
  width: 100%;
  padding: 0;

  @include mobile {
    gap: 16px;
  }
}

.table {
  width: 560px;
  height: 80px;
  padding: 20px;
  border-radius: 12px;
  background: color('gray000');
  overflow: hidden;
  border: 1px color('gray100') solid;
  line-height: 19.6px;

  &.isApplicant {
    height: 64px;

    @include mobile {
      height: auto;
      flex-direction: row;
      align-items: center;
    }
  }

  @include mobile {
    width: 100%;
    height: auto;
    align-items: start;
    flex-direction: column;
  }
}

.text {
  flex: 1 1 0;

  &.isApplicant {
    font-size: 14px;
  }
}

.subText {
  color: color('gray700');
}
