.wrapper {
  padding: 0 20px;
  box-sizing: border-box;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include mobile {
    grid-template-columns: 100%;
  }
}

.periodsWrapper {
  display: flex;
  margin-bottom: 40px;
  gap: 16px;

  &.button {
    height: 40px;
  }
}
