.wrapper {
  box-sizing: border-box;
  width: 100%;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include mobile-and-tablet {
    gap: 16px;
  }

  @include mobile {
    grid-template-columns: 100%;
  }
}

.periodsWrapper {
  display: flex;
  margin-bottom: 40px;
  gap: 16px;

  &.button {
    height: 40px;
  }

  @include mobile {
    gap: 8px;
  }
}
