.wrapper {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 160px;

  @include mobile {
    margin-bottom: 100px;
  }
}

.title {
  font-weight: 800;
  margin-bottom: 40px;
  line-height: 50px;
}
